nvim/
.DS_Store
.idea/
configstore/
containers/
gatsby/
gh/
git-cola/
**/AppSupport
nvim/
spaceship/spaceship.zsh.zwc
yabai/
.gsd-keyboard.settings-ported
dconf/
enchant/
evolution/
gedit/
ibus/
monitors.xml
pulse/
user-dirs.dirs
user-dirs.locale
